.product-container {
    background-color: #9edc2a;
    width: 50em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px -2px 15px 8px rgba(0,0,0,0.4);
}


.product-container > div {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    margin:0.5em 0;    
    justify-content: center
}
div.main-container h1{
    text-align:center;
}

.product {
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 20em;
    gap: 1em;
    padding:0.5em 0 0 1em;;
}

div.product p{
    margin:0;
}

div.product > div.left {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

div.product > div.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-count {
    margin: 0;
}

.filter-btns {
    display: flex;
    gap: 4.7em;
    width: fit-content;
    margin: 1em auto;
}

.main-container {
    display: flex;
    justify-content: flex-end;
    gap:2em;
    margin:4em 0;
}

tr:hover {
    cursor: pointer;
}

div.input-form{
   width:30em;
   margin: 1em auto;
   text-align:center;
}

table.table-striped {
    position: absolute;
    z-index: 3;
    width: 30em;
}
input {
    text-align: center;
}
.pagination{
    display:flex;
    justify-content:center;

}
div.right-panel {
    background-color: #535e52;
    padding: 1em;
    border-radius: 20px;
    overflow: hidden;
    height: 51em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 20em;
    color:white;
}

.notifications {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    scrollbar-width: thin;  
}

.accordion-button {
    gap: 1em;
    padding: 1em 0;
    justify-content: center;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: initial;
    position: absolute;
}

.notf-title p {
    margin: 0;
}

.notf-title {
    display: flex;
    width: 12em;
    gap: 0.5em;
    flex-direction: column;
}

.blockquote-footer {
    margin: 0;
    margin-top: 0.5em;
}

.accordion-button {
    margin: 0;
}

.accordion-item {
    max-width: 999px;
    max-height: 999px;
    transition: max-width 0.5s, max-height 0.5s;
}
.outer-layer-fridge{
    border:3px solid #535e52;
    border-radius:20px;
    overflow:hidden;
    height:fit-content;
}

div.container-animation {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

div.container-animation h1{
    margin-top:0.4em;
}

a.expand svg {
    height: 3em;
    fill: #dc3545;
    transition: transform 0.4s ease-in-out;
    transform: rotate(180deg);
}

.btn-filters .dropdown{
    margin-left:1.2em;
}