@media only screen and (max-width: 1000px) {
    p, a, h3, h4, h5 {
        font-size: 1.5em;
    }
    h1,h2{
        font-size: 1.2em;
    }
    .main-container{
        flex-wrap:wrap;
    }
    div.right{
        order:-1;
    }
    .text-center{
        order:0;
    }
    .left{
        order:1;
    }
}

div.main-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer>div.text-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:2em;
    width:100%;
    padding:0;
}

div.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: fit-content;
    padding: 0;
}

div.greeting {
    background-color: #535e52;
    border-radius: 30px;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

div.main-container>div.left{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    height:fit-content;
}
.location {
   margin:0;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0.5em;
}
div.left {
    background-color: #d9f3f2;
    padding: 2em;
    border-radius: 30px;
}
.outfit-container img {
    width: 100px;
}

div.outfit-container {
    display: flex;
    justify-content: center;
    gap:1.5em; 
}

div.outfit-container > .left-side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    div.outfit-container > .right-side {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align:center;
        width:6em;
    }

div.main-menu {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    gap:1em;
    justify-content: space-evenly;
}

div.main-menu a{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:12em;
    height:12em;
    border-radius:20px;
    overflow:hidden;
}

div.main-menu img{
    height:10em;
}


div.right {
    background-color: #d0e2c8;
    padding: 1em;
    border-radius: 20px;
    overflow: hidden;
    height:35em;
    display:flex;
    gap:1em;
    flex-direction:column;
    width:25em;
}

.notifications {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    scrollbar-width: thin;
    background
}
.accordion-button{
    gap:1em;
    padding:1em 0;
    justify-content:center;
}
.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: initial;
    position: absolute;
}
.notf-title p{
    margin:0;
}
.notf-title {
    display: flex;
    width:12em;
   gap:0.5em;
    flex-direction: column;
}

.blockquote-footer {
    margin: 0;
    margin-top:0.5em;
}

.accordion-button{
    margin:0;
}

.accordion-item {
    max-width: 999px;
    max-height: 999px;
    transition: max-width 0.5s, max-height 0.5s;
}

a.dismiss{
    width:100%;
   padding:0;

}

.not-container-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1em;
}

div.not-container-title a{
    padding:0;
    height:fit-content;
}

div.not-container-title svg {
    width: 1.4em;
    fill:white;
    margin: 0 0.2em 0.2em 0.2em;
}

.notification-img-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ShoppingList {
    color: #4aa031;
}
.Message{
    color:#f77474;
}

.Recipe {
    color: #638dff;
}

.Fridge {
    color:#2d0690;
}