div.main-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer>div.text-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:2em;
    width:100%;
    padding:0;
}

div.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: fit-content;
    padding: 0;
}

div.greeting {
    background-color: #535e52;
    border-radius: 30px;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

div.main-container>div.left{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    height:fit-content;
}
.location {
   margin:0;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0.5em;
}
div.left {
    background-color: #d9f3f2;
    padding: 2em;
    border-radius: 30px;
}
.outfit-container img {
    width: 100px;
}

div.outfit-container {
    display: flex;
    justify-content: center;
    gap:1.5em; 
}

div.outfit-container > .left-side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    div.outfit-container > .right-side {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align:center;
        width:6em;
    }

div.main-menu {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    gap:1em;
    justify-content: space-evenly;
}

div.main-menu a{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:12em;
    height:12em;
    border-radius:20px;
    overflow:hidden;
}

div.main-menu img{
    height:10em;
}


div.right {
    background-color: #dcc8a0;
    padding: 1em;
    border-radius: 20px;
    overflow: auto;
    height:35em;
    display:flex;
    gap:1em;
    flex-direction:column;
}

