@media only screen and (max-width: 1000px) {
    p, a, h3, h4, h5 {
        font-size: 1.5em;
    }
    h1,h2{
        font-size: 1.2em;
    }
    .main-container{
        flex-wrap:wrap;
    }
    div.right,div.left {
        order: 0;
        min-width: 80%;
       
    }
    .text-center{
        order:-1;
    }
    .left{
        order:1;
    }
    .notifications-container {
        width: 95%;
        min-height: 32em;
    }
    main{
        width:initial !important;
    }

    .nas-status {
        position: absolute;
        margin: -150px 0 0 -150px !important;
    }
}
main{
    margin:0 auto;
    width:80em;
}
div.main-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer>div.text-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:2em;
    width:100%;
    padding:0;
}

button.accordion-button{
    padding:1em 0.7em;
}

div.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: fit-content;
    padding: 0;
}

div.greeting {
    background-color: #535e52;
    border-radius: 30px;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

div.main-container>div.left{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    height:fit-content;
}
.location {
   margin:0;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0.5em;
}
.weather {
    background-color: #d9f3f2;
    padding: 2em;
    padding-bottom:1em;
    border-radius: 30px;
    margin-bottom:1em;
}
.outfit-container img {
    width: 100px;
}

div.outfit-container {
    display: flex;
    justify-content: center;
    gap:1.5em; 
}

div.outfit-container > .left-side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    div.outfit-container > .right-side {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align:center;
        width:6em;
    }

div.main-menu {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    gap:1em;
    justify-content: space-evenly;
}

div.main-menu a{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:12em;
    height:12em;
    border-radius:20px;
    overflow:hidden;
}

div.main-menu img{
    width:8em;
}
img.fridge{
    width:6em !important;
}


div.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 25em;
}

.notifications-container {
    background-color: #d9f3f2;
    padding: 1em;
    border-radius: 20px;
    overflow: hidden;
    height: 13em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    transition: height 0.5s ease;
    width:20em;
}
div.notifications-container:hover {
    height: 32em;
}

.notifications {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    scrollbar-width: thin;
    background
}
.accordion-button{
    gap:1em;
    padding:1em 0;
    justify-content:center;
}
.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: initial;
    position: absolute;
}
.notf-title p{
    margin:0;
}
.notf-title {
    display: flex;
    width:12em;
   gap:0.5em;
    flex-direction: column;
}

.blockquote-footer {
    margin: 0;
    margin-top:0.5em;
}

.accordion-button{
    margin:0;
}

.accordion-item {
    max-width: 999px;
    max-height: 999px;
    transition: max-width 0.5s, max-height 0.5s;
}

a.dismiss{
    width:100%;
   padding:0;

}

.not-container-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1em;
}

div.not-container-title a{
    padding:0;
    height:fit-content;
}

div.not-container-title svg {
    width: 1.4em;
    fill:white;
    margin: 0 0.2em 0.2em 0.2em;
}

.notification-img-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

figcaption{
    font-weight:700;
}

.ShoppingList {
    color: #9CCC65
}
.shoppinglist-btn {
    background-color: #54d359;
    color: white;
    font-weight: 600;
    text-shadow: 4px 2px 5px rgba(0,0,0,0.6);
}
.Message {
    color: #9575CD
}
.message-btn {
    background-color: #b68eff;
    color: white;
    font-weight: 600;
    text-shadow: 4px 2px 5px rgba(0,0,0,0.6);
}
.Recipe {
    color: #FFB74D
}

.recepies-btn {
    background-color: #efa02a;
    color: white;
    font-weight: 600;
    text-shadow: 4px 2px 5px rgba(0,0,0,0.6);
}

.Fridge {
    color: #8ED1FC;
}
.fridge-btn {
    background-color: #4c98d7;
    color: white;
    font-weight: 600;
    text-shadow: 4px 2px 5px rgba(0,0,0,0.6);
}
div.status {
    width: fit-content;
    position: absolute;
    margin-top: -1em;
    margin-left:-1em;
}
div.status svg.error {
    width: 2em;
    fill: red;
}

div.status svg.ok {
    width: 2em;
    fill: #54d359;
}

.telemetry {
    text-align: center;
    padding: 1.6em 1.6em;
    background-color: #3b3838;
    border-radius: 30px;
    color: white;
    width: 20em;
}

div.telemetry h3{
    font-size:1.3em;
    
}

.rad {
    margin-top: 1em;
    background-color: #fcff00;
    border-radius: 10px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: black;
}

div.rad h3{
    margin:0;
}
.info a{
    color:white;
}
.info p{
    margin:0;
}

.telemetry .status{
    margin-top:-1em;
    margin-left:-1em;
}
.telemetry span {
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.spinner-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-content:center;
}
.nas-status div {
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 50% ;
    
}
.nas-status {
    position:absolute;
    margin: -130px 0 0 -130px;
}

.action-btns{
        display: flex;
    flex-wrap: nowrap;
}
