@media only screen and (max-width: 1000px) and (orientation: portrait) {
    .prev-btn, .next-btn {
        width: fit-content !important;
        height: fit-content !important;
        margin-bottom:3em;
    }
    .prev-btn{
        order:1;
    }
    .next-btn{
        order:2;
    }

    .popup-img {
        flex-wrap: wrap;
        max-width: 100% !important;
        padding: 0 !important;
        align-items: flex-end !important;
        gap:0 !important;
    }

    .popup-img img{
        max-width:100% !important;
        
    }

    tbody{
        
    }

    tbody img {
        width: 1em;
        margin-bottom:0.8em;
        margin-right:0.5em;
        height: fit-content;
    }
    tbody td{
        padding:0;
        vertical-align:middle;
    }
    tbody a{
        display:inline-block;
        max-width:35vw  ;
        text-overflow:ellipsis;
        overflow:hidden;
    }

   

}
@media only screen and (max-width: 1000px) {
    #flexSwitchCheck {
        max-width: 2em;
    }

    .form-check {
        justify-content: center !important;
        padding: 0;
    }
}
    .main-photo-container {
        display: flex;
        flex-wrap: wrap;
        gap: 4.9px;
    }

    img.loading {
        height: 7em !important;
        width: auto !important;
    }

    .btn-add {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ecf0f1
    }

    .popup-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        padding: 1em;
    }

    .parent-img-container {
        width: 100%;
        height: 100%;
    }

    div.popup-img img {
        max-height: 90%;
        max-width: 90%;
    }

    a.close-btn {
        position: absolute;
        top: 2vh;
        right: 2vw;
    }

    main svg {
        width: 2em;
        fill: white;
    }

    .prev-btn, .next-btn {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .next-btn {
        justify-content: flex-end;
    }

        .prev-btn svg, .next-btn svg {
            width: 5em;
            padding: 1em;
        }

    .title-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .download-btn {
        position: absolute;
        top: 3vh;
        left: 2vw;
    }

    .modal-body {
        text-align: center;
        font-size: 1.3em;
    }

    .modal-content {
        max-width: fit-content !important;
    }

    .modal-dialog-centered {
        max-width: fit-content !important;
    }

    .modal-body h3 {
        margin-bottom: 1.4em;
    }

    .modal-body {
        padding: 0.5em 2em;
    }

        .modal-body span {
            color: #625151;
        }

        .modal-body li {
            margin-bottom: 0.5em;
            text-align: start;
        }

    .flex-body {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 3em;
    }

    .modal-footer {
        justify-content: center;
    }

    .form-switch svg {
        width: 2em;
        fill: black;
    }

    .form-check {
        display: flex;
        gap: 2em;
        justify-content: flex-end;
        align-items: center;
    }

        .form-check input {
            font-size: 1.5em;
        }

    div.form-check > svg {
        margin-right: 3em;
        margin-top: 0.5em;
    }

    .form-check-label svg {
        margin-left: -1em;
        margin-top: 0.5em;
    }

    h1 {
        text-align: center;
        margin-top: 0.5em;
    }