div.steps{
    display:flex;
    gap:1em;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:start;
    align-items:center;
}
div.step p{
    margin:0;
    padding:0;
}
div.step {
    display: flex;
    align-items:center;
    justify-content:space-around;
    gap: 1em;
  
}
div.steps>svg{
    width:2em;
}
div.step>svg{
    width:1.5em;
}
div.new-step{
    display:flex;
    gap:1em;
}
div.new-step>svg{
    width:2em;
}
.not-Available-prod{
    color:red;
}
.recipes{
    display:flex;
    flex-wrap:wrap;
    gap:1em;
    justify-content:center;
}
.img-container {
    overflow: hidden;
    height: 12em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
}
div.recipe{
    text-align:center;
    width:18em;
}
div.recipe img {
    width: 18em;
    display:block;
}

.img-container-modal {
    overflow: hidden;
    height: 15em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
}
div.img-container-modal>img{
    width:100%;
}
p.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap; 
}

.ingredients-container{
    display:flex;
    justify-content:space-evenly;
    gap:3em;
    margin-top:1em;
}
div.ingredients-container ul{
    
    padding:0;
}

div.started-recipes{
    justify-content:flex-start;
    margin-bottom:2em;
    text-align:center;
}
div.started-recipes a{
    margin-top:1.5em;
}
.add-new{
    display:flex;
    align-items:center;
    margin-bottom:2em;
    gap:1em;
}
div.add-new h1{
   margin-bottom:0.3em;
}
div.add-new a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.8em;
}
div.add-new>a> svg{
    width:1em;
    height:1.7em;
    fill:white;
}
button.show {
    margin-top: 1em;
}

.container2{
    width:50em;
    text-align:center;
    margin:0 auto;
    justify-content:center;
}

div.container2 div.img-container-modal {
    height: 30em;
}
div.container ul {
    list-style: none;
    padding: 0;
}
div.container li{
    padding:0;
}
div.action-btns a{
    height:2.5em;
}
div.action-btns svg {
    width: 1em;
    fill: white;
    margin-bottom: 0.2em;
}
div.step-controls button {
    padding: 0;
}
div.step-controls svg {
    width: 1em;
}
div.step-controls {
    display: flex;
    flex-direction: column;
}

svg.edit-svg{
    width:1em;
    margin-bottom:0.3em;
}
div.add-products-container a{
    height: fit-content;
}
form.recipe-form .img-label {
    text-align: center;
    width: 100%;
}
form.recipe-form label{
    font-size:1.3em;
}
form.recipe-form textarea{
    margin-bottom:3em;
}
form.recipe-form h2{
    text-align:center;
}
form.recipe-form .btn-div {
    margin:0 auto;
    width:fit-content;
}
div.add-products-container {
    display: flex;
    gap: 1em;
}
form.recipe-form h1 {
    margin-bottom: 1em;
    text-align: center;
}
form.recipe-form input {
    margin-bottom: 2em;
}
.recipe-form {
    width:40em;
    margin:0 auto;
}

h1.step-counter{
    text-align:center;
}
.step-content {
    text-align: center;
    margin: 2em auto;
    width: 50em;
    word-break: break-word;
}

.float-container{
    position:fixed;
    text-align:center;
    padding-top:1.2em;
    background-color:#d9f3f2;
    padding:2em;
    border-radius:20px;
}

div.step-content>h1{
    font-size:5em;
    padding-bottom:0.3em;
}
div.step-content > p{
    font-size:1.5em;
}

.step-progress {
    background-color: #f9b74f;
    border-radius:20px;
    padding:0.5em 1em;
    margin-bottom:1em;
}
button.done>svg:hover {
    fill: black;
}
button.done > svg {
    width: 4em;
    fill: #f9b74f;
}

.prev-step {
    background-color: #cffc6c;
    width: fit-content;
    padding: 1em 1em;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}

form.add-step-form {
    width: 50%;
    margin: 2em auto;
}
form > div.prod-to-include{
   margin-bottom:2em;
}

form>div.btn-div{
    width:fit-content;
    margin:1em auto;
}
