@media only screen and (max-width: 1000px) {
    .main-recipe-view-container{
        flex-direction:column;
        gap:5em;
    }
    .side-container {
        order: -1;
        margin: 0 auto !important;
    }
    h1{
        font-size:2em !important;
    }
    h3{
        font-size:1.8em;
        font-weight:600;
    }
    .step-content{
        width:fit-content !important;
    }
    .step-content p{
        font-size:1.2em !important;
        text-align:start !important;
        padding:0 1em;
    }
    .prod-for-step{
        gap:0.2em !important;
        font-size:0.9em !important;
    }
    .go-next{
        margin-top:0 !important;
    }
    .recipe-form{
        width:90% !important;
    }
    .container2{
        flex-direction:column;
        width:98vw !important;
        align-items:center;
        margin:0 auto !important;
        gap:0 !important;
    }
    .container{
        padding:0 !important;
    }
    .img-container-edit {
        width: 90vw !important;
        height: fit-content !important;
    }
    .ingridiants{
        list-style:none;
        justify-content:center;
        align-items:center;
        flex-wrap:nowrap !important;
        height:fit-content !important;
        font-size:0.8em !important;
    }
    div.steps{
        gap: 0 !important;
        width:initial !important;
        font-size:0.9em !important;
        margin:0 1em !important;
    }
    .step-actions .btn{
        width:2em !important;
        height:2em !important;
    }
    .step-actions svg {
        width: 0.8em !important;
        margin: -0.5em 0 0 -0.2em !important;
    }
    .configure-step{
        flex-direction:column;
        margin:0 auto !important;
        width:80vw !important;
        gap:0 !important;
    }
    .prod-to-include{
        width:initial !important;
    }
    .configure-step .form-check-input {
        width: 1em !important;
    }
    label{
        font-weight:600;
    }
    .col-md-12{
        margin-top:2em;
    }
    textarea{
        height:20em;
    }
    .add-step-form{
        width:90% !important;
    }
}
div.steps {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 29px -3px #54d359;
}
div.step p {
    margin: 0;
    padding: 0;
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;

}
div.steps>svg{
    width:2em;
    margin: 0 auto;
}
div.step>svg{
    width:1.5em;
}
div.new-step{
    display:flex;
    gap:1em;
    margin: 0 auto;
}
div.new-step>svg{
    width:2em;
}
.not-Available-prod{
    color:red;
}
.recipes{
    display:flex;
    flex-wrap:wrap;
    gap:1em;
    justify-content:center;
}
.img-container {
    overflow: hidden;
    height: 12em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
}
div.recipe{
    text-align:center;
    width:18em;
}
div.recipe img {
    width: 18em;
    display:block;
}

.img-container-modal {
    overflow: hidden;
    height: 15em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
}
.img-container-edit {
    overflow: hidden;
    height: 30em;
    width: 50em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.5);
}
div.img-container-modal > img, .img-container-edit img{
    width: 100%;
}
p.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap; 
}

.ingredients-container{
    display:flex;
    justify-content:space-evenly;
    gap:3em;
    margin-top:1em;
}
div.ingredients-container ul{
    
    padding:0;
}

div.started-recipes{
    justify-content:flex-start;
    margin-bottom:2em;
    text-align:center;
}
div.started-recipes a{
    margin-top:1.5em;
}
.add-new{
    display:flex;
    align-items:center;
    margin-bottom:2em;
    gap:1em;
}
div.add-new h1{
   margin-bottom:0.3em;
}
div.add-new a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.8em;
}
div.add-new>a> svg{
    width:1em;
    height:1.7em;
    fill:white;
}
button.show {
    margin-top: 1em;
}

.container2{
    width:50em;
    margin:5em auto;
    justify-content:center;
    display:flex;
    gap:3em;

}
.container2 h2, .container2 p{
    text-align:center;
}

div.container2 div.img-container-modal {
    height: 30em;
}
div.container ul {
    padding: 0;
}
div.container li{
    padding:0;
}
div.action-btns>*{
    height:2.5em;
    width:2.5em;
}
div.action-btns svg {
    width: 1em;
    fill: white;
    margin-bottom: 0.2em;
}
div.step-controls button {
    padding: 0;
}
div.step-controls svg {
    width: 1em;
}
div.step-controls {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:start;
}

svg.edit-svg{
    width:1em;
    margin-bottom:0.3em;
}
div.add-products-container a{
    height: fit-content;
}
form.recipe-form .img-label {
    text-align: center;
    width: 100%;
}
form.recipe-form label{
    font-size:1.3em;
}
form.recipe-form textarea{
    margin-bottom:3em;
}
form.recipe-form h2{
    text-align:center;
}
form.recipe-form .btn-div {
    margin:0 auto;
    width:fit-content;
}
div.add-products-container {
    display: flex;
    gap: 1em;
}
form.recipe-form h1 {
    margin-bottom: 1em;
    text-align: center;
}
form.recipe-form input {
    margin-bottom: 2em;
}
.recipe-form {
    width:40em;
    margin:0 auto;
}

h1.step-counter{
    text-align:center;
}
.step-content {
    text-align: center;
    width: 50em;
    word-break: break-word;
}

.float-container{
    position:fixed;
    text-align:center;
    padding-top:1.2em;
    background-color:#d9f3f2;
    padding:2em;
    border-radius:20px;
}

div.step-content>h1{
    font-size:5em;
    padding-bottom:0.3em;
}
div.step-content > p{
    font-size:1.5em;
}

.step-progress {
    background-color: #f9b74f;
    border-radius:20px;
    padding:0.5em 1em;
    margin-bottom:1em;
    width:fit-content;
    text-align:center;
}
.main-recipe-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.done {
    width: 100%;
    border: 5px solid #d5ebebc7;
    height: 100%;
    border-radius: 20px;
    min-height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.done:hover{
    background-color:#f9b74f
}
.done p{
    margin:0;
    font-size:1.5em;
    font-weight:600;
}
button.done > svg:hover {
    fill: black;
}
button.done > svg {
    width: 4em;
    fill: #f9b74f;
}

.prev-step {
    background-color: #cffc6c;
    width: fit-content;
    padding: 1em 1em;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    max-height: 4em;
    transition: max-height 2s ease-in-out;
    overflow: hidden;
}
.prev-step:hover{
    max-height:999em;
}

form.add-step-form {
    width: 50%;
    margin: 2em auto;
}
form > div.prod-to-include{
   margin-bottom:2em;
}

form>div.btn-div{
    width:fit-content;
    margin:1em auto;
}

.main-recipe-view-container{
    display:flex;
    margin-top:2em;
    justify-content:center;
}
.prod-for-step {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1em;
    font-weight:600;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}
.recipe-show-product {
    background-color: #d9f3f2;
    padding:0.5em 1em;
    border-radius:10px;
    width:fit-content;
    font-size:1.2em;
    flex-basis:40%;
    text-align:center;
}
.side-container {
    width: fit-content;
}
.side-container h3 {
    text-align: center;
}

.go-next{
    margin-top:5em;
    height:20em;
    display:block;
}

.side-container h3{
    margin-bottom:1em;
}

#search{
    margin-bottom:0;
}

button.result-item{
    display:block;
    margin:0 auto;
}

.ingridiants{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:25em;
}

.ingridiants li{
    font-size:1.3em;
}

.step-actions{
    display:flex;
    gap:0.5em;
}

.step-identificators{
    display:flex;
    align-items:center;
    gap:0.5em;
}
.step-identificators svg{
    width: 1.5em;
    margin: 0 auto;
}

.configure-step{
    margin: 0 auto;
    display:flex;
    gap:4em;
    margin:0 auto;
    max-width:70em;
}
.configure-step button{
    display:flex;
    margin:1em auto;
}
.prod-to-include{
    width:20em;
}
.step-title{
    text-align:center;
   margin:0.4em 0 1em 0;
}

.redirect-to-recipes{
    display:block;
    margin:2em auto;
    width:fit-content;
}