html {
    font-size: 14px;
}

@media only screen and (max-width: 1000px) {
    #Input_RememberMe {
        width: 1.3em !important;
        height: 1.3em !important;
    }
    html {
        font-size: 16px;
    }

    svg.nav-arrow, a.prev-page {
        display: none !important;
    }
    .navbar-collapse{
        display:flex !important;
        width:fit-content;
        justify-content:flex-end !important;
    }

    .navbar-nav{
        flex-direction:row;
        width:fit-content;
    }

    /*ul.flex-grow-1{
        display:none !important;
    }*/
    a[class="btn btn-danger configbtn"] {
        display: none !important;
    }
    a[class="btn btn-primary configbtn"]{
        display:block;
        font-size:0.8em;
    }
    input#tempUser{
        width:2em !important;
    }
    .form-switch{
        font-size:1.4em;
    }
    ul.navbar-nav li:nth-child(2) {
        display: none !important;
    }

    div.container-fluid {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }

    .bigpfp {
        width: 250px !important;
        height: 250px !important;
    }
    div.bigpfp > img{
        width:300px !important;
    }

    h1,h2,h3{
        text-align:center;
    }
    div[class="col-md-6 row justify-content-center"]{
        margin:0 auto;
    }
    input{
        width:100% !important;
    }

    .page-title{
        display:none;
    }

}

p.no-notifications{
    width:100%;
    text-align:center;
    font-weight:700;
    border-top:2px solid black;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-group-vertical {
    gap: 0.2em;
}

.bigpfp {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: black;
    padding: 0 !important;
}

div.bigpfp > img {
    width: 400px;

}

div.formdiv {
    gap: 1em;
}

div.formdiv input {
    font-size: 1.3em;
}
    div.formdiv label {
        font-size: 1.1em;
    }

div.formdiv button{
    margin-top:1em;
}

input[type="file"]{
    width: 20em;
    margin:0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99vw;
    background-color:white;
    box-shadow: inset 0px 58px 12px -65px rgba(0,0,0,0.5);
}
.smallpfp {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
.smallpfp>img{
    width:50px;
}
ul.navbar-nav>li.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.configbtn{
    font-size:1.1em;
    font-weight:600;
    margin-left:1em;
}

.toast-container {
    margin-top: 3em;
}

.nav-arrow{
    width:1em;
    margin:0 0.4em;
}
div.container-fluid>a{
    margin-right:0;
}

div.pcStatus {
    width: 0.7em;
    height: 0.7em;
    background-color: red;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

div.pc{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:0.5em;
    background-color:white;
    padding:0.5em 1em;
}
div.pc button{
    height:fit-content;
}
#wakeOnLanContainer {
    background-color: #d9f3f2;
    padding: 2em;
    border-radius: 30px;
    margin-bottom: 1em;
}
#wakeOnLanContainer svg{
    width:1em;
}

.wake{
    fill:#54d359;
}
.shutdown {
    fill:#efa02a
}
div.action-btns button {
    padding: 0 0.4em;
    margin: 0;
}
.identification{
    display:flex;
    align-items:center;
    gap:1em;
}
.identification p{
    margin:0;
    padding:0;
    text-align:start;
    max-width:7em;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
div.identification .ip{
    font-size:0.8em;
}
#wakeOnLanContainer h3{
    margin-bottom:1em;
}

.clearbtn{
    margin:0;
    padding:0;
    background-color:white;
}
