@media only screen and (max-width: 1000px) and (orientation: portrait) {

    div.btn-group-vertical {
        position: initial !important;
    }

    .container {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
    }

    aside {
        width: 100% !important;
        height: fit-content !important;
    }
    .btn-group-vertical {
        width: 100% !important;
    }

    .btn-group-vertical a {
        width: 100% !important;
    }

    table {
        font-size: 0.5em !important;
    }

        table button, table a {
            font-size: 1em !important;
        }

    body {
        overflow-x: hidden !important;
    }

    td[class="col-lg-2"] {
        width: 1em !important;
        padding: 0;
    }

    .modal-body{
        flex-direction:column;
        width:95vw !important;
        align-items:center;
    }
    #map {
        width: 90vw !important;
        height: 70vh !important;
    }
    .modal-body p{
        text-align:center;
    }

    .overall-log-container{
        flex-direction:column !important;
    }
    .interaction p{
        font-size:0.9em;
    }

}

@media only screen and (max-width: 1000px) {
    div.btn-group-vertical {
        position: initial !important;
    }

    .container {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
        width:fit-content !important;
    }

    aside {
        width: 100% !important;
        height: fit-content !important;
    }

    .btn-group-vertical {
        width: 100% !important;
    }

        .btn-group-vertical a {
            width: 100% !important;
        }
        table{
            width: 100% !important;
        }
        body{
            width:100%!important;
        }
    
}

main{
    width:100%;
}
.container {
    display: flex;
    align-items: start;

    margin-top: 3em;
    gap: 5em;
}
aside{
    width:18em;
    height:50vh;
}
div.btn-group-vertical {
    position: fixed;
    top: 10em;
    width:15em; 
}
div.btn-group-vertical a{
    font-size:1.2em;
}
table {
    word-wrap: break-word;
}
table, th, tr {
    text-align: center;
    vertical-align: middle;
}

.formCol{
    display:flex;
    height:100%;
    padding:1em !important;
    gap:0.5em;
    justify-content:center;
    align-items:center;
}

.ellipsis {
    width:10em;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
}
.roleTitle{
    text-align:end;
    display:flex;
    align-items:start;
    justify-content:end;
    height:100%;
    font-size:1.5em;
}

input[type="file"]{
    margin-top:1em;
    width:15em;
}

form.edituser{
    margin-top:-2em;
}
.bigpfp{
    margin-top:-3em;
}

#map{
    height:70vh;
    width:50vw;
}
.modal-body{
    display:flex;
    justify-content:center;
    gap:1em;
}

.modal-dialog{
    max-width:fit-content;
}

.ip-details h2 {
    font-size: 1.5em;
    width: 100%;
}
.ip-details p {
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 1);
}

.clickable:hover{
    cursor:pointer;
}

.interaction{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
}

.request-type{
    font-weight:700;
    font-size:1.2em;
}

.interaction p {
    margin: 0
}

.url {
    display: flex;
    align-items: center;
    gap: 1em;
    width:100%;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4em;
    margin-right: 1em;
}

.username{
    color:#ff00ea;
    font-weight:600;
    font-size:1.2em;
}

strong {
    color: #60dc2b;
}

.request-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2em;
    width: 36vw;
    line-height: normal;
}

.code-block {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: pre-wrap;
    font-size: 1.2em;
}

.interactions-container{
    display:flex;
    flex-direction:column;
    gap:1em;
    margin-top:3em;
}
.accordion-item {
    border: 1px solid black !important;
    border-radius: 20px !important;
    width: 100%;
}

.accordion-button {
    border-radius: 20px !important;
    background-color: #f5f2f2 !important;
    box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.5);
}
.time{
    margin:0;
    font-size:1.2em;
    white-space:nowrap;
    font-weight:600;
}
.overall-log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em;
}

.new {
    color: red;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 0.1s ease-out;
}

.pagination{
    width:fit-content;
    margin:1em auto;
}
