@media only screen and (max-width: 1000px) and (orientation: portrait) {

    div.btn-group-vertical {
        position: initial !important;
    }

    .container {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
    }

    aside {
        width: 100% !important;
        height: fit-content !important;
    }
    .btn-group-vertical {
        width: 100% !important;
    }

    .btn-group-vertical a {
        width: 100% !important;
    }

    table {
        font-size: 0.5em !important;
    }

        table button, table a {
            font-size: 1em !important;
        }

    body {
        overflow-x: hidden !important;
    }

    td[class="col-lg-2"] {
        width: 1em !important;
        padding: 0;
    }


}

@media only screen and (max-width: 1000px) {
    div.btn-group-vertical {
        position: initial !important;
    }

    .container {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
        width:fit-content !important;
    }

    aside {
        width: 100% !important;
        height: fit-content !important;
    }

    .btn-group-vertical {
        width: 100% !important;
    }

        .btn-group-vertical a {
            width: 100% !important;
        }
        table{
            width: 100% !important;
        }
        body{
            width:100%!important;
        }
    
}

main{
    width:100%;
}
.container {
    display: flex;
    align-items: start;

    margin-top: 3em;
    gap: 5em;
}
aside{
    width:18em;
    height:50vh;
}
div.btn-group-vertical {
    position: fixed;
    top: 10em;
    width:15em; 
}
div.btn-group-vertical a{
    font-size:1.2em;
}
table {
    word-wrap: break-word;
}
table, th, tr {
    text-align: center;
    vertical-align: middle;
}

.formCol{
    display:flex;
    height:100%;
    padding:1em !important;
    gap:0.5em;
    justify-content:center;
    align-items:center;
}

.ellipsis {
    width:10em;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 
}
.roleTitle{
    text-align:end;
    display:flex;
    align-items:start;
    justify-content:end;
    height:100%;
    font-size:1.5em;
}

input[type="file"]{
    margin-top:1em;
    width:15em;
}

form.edituser{
    margin-top:-2em;
}
.bigpfp{
    margin-top:-3em;
}