@{
    ViewData["Title"] = "Not Approved";
    
}

<div class="text-center">
    <h1 class="display-4 text-danger">Your Account is not yet approved!</h1>
    <p>An admin will review it as soon as possible.</p>
</div>
