<link rel="stylesheet" href="~/css/userconfig.css" asp-append-version="true" />

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
	<a type="button" class="btn btn-primary" asp-controller="UserConfiguration" asp-action="Index">Waiting Approval</a>
	<a type="button" class="btn btn-primary" asp-controller="UserConfiguration" asp-action="All">All Active Users</a>
	<a type="button" class="btn btn-primary" asp-controller="UserConfiguration" asp-action="AllDeleted">Deleted Users</a>
	<a type="button" class="btn btn-primary" asp-controller="UserConfiguration" asp-action="FailedLogin">Failed to login user IPs</a>
</div>


