<link rel="stylesheet" href="~/css/userconfig.css" asp-append-version="true" />

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
	<button type="button" class="btn btn-primary" asp-controller="UserConfiguration">Waiting Approval</button>
	<button type="button" class="btn btn-primary">All Users</button>
	<button type="button" class="btn btn-primary">Edit Roles</button>
	<button type="button" class="btn btn-primary">Delete Users</button>
</div>