@using HomeAssistant.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<HomeAssistantUser> SignInManager
@inject UserManager<HomeAssistantUser> UserManager


@if (User.IsInRole("Admin"))
{
	<a class="btn btn-danger configbtn" asp-controller="UserConfiguration" asp-action="Index">ConfigurateUsers</a>

	<a class="btn btn-primary configbtn" asp-area="Identity" asp-page="/Account/Register">Register New User</a>
}

